<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CourseForm</title>
</head>
<body>
<h1>New course poll</h1>
<form th:object="${courseForm}" method="post" th:action="@{/course}">
    <table>
        <tr>
            <td>Course ID</td>
            <td><input type="text" th:field="*{courseId}"></td>
            <td th:if="${#fields.hasErrors('courseId')}" th:errors="*{courseId}">Course Id Error</td>
        </tr>
        <tr>
            <td>Course Name</td>
            <td><input type="text" th:field="*{courseName}"></td>
            <td th:if="${#fields.hasErrors('courseName')}"
                th:errors="*{courseName}">Course Name Error</td>
        </tr>
        <tr>
            <td>Course Duration</td>
            <td><input type="text" th:field="*{duration}"></td>
            <td th:if="${#fields.hasErrors('duration')}"
                th:errors="*{duration}">Duration Error</td>
        </tr>
    </table>
    <button type="submit">submit</button>
</form>

</body>
</html>